.container{
    display:flex;
    flex-direction:column;
    gap:20px;
    align-items:center;
}

.card{
    width:100%;
    max-width:430px; /* Mobile-friendly */
    overflow:hidden;
}

iframe{
    width:100%;
    height:850px; /* Adjust to your content */
    border:none;
}