.container{
    display:flex;
    flex-direction:column;
    gap:20px;
    align-items:center;
}

.card{
    width:100%;
    max-width:430px;
    margin:0 auto;
    overflow:hidden;
}

iframe{
    width:1080px;
    height:1080px;
    border:none;

    transform:scale(0.35);
    transform-origin:top left;

    margin-bottom:-700px;
}